<app-nav-bar></app-nav-bar>
<mat-grid-list   cols="2" rowHeight="2:1.5">
    <mat-grid-tile>
        <mat-card>
        <mat-card-title>Search Jobs</mat-card-title>
        <mat-card-subtitle>Find the Jobs that match you</mat-card-subtitle>
        <mat-card-content>Online Job Portal has helped millions
             of users to find the job that suites them.
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary">Find Jobs</button>

        </mat-card-actions>

        </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Post Jobs : For Companies</mat-card-title>
            <mat-card-subtitle>Match the skills you need</mat-card-subtitle>
            <mat-card-content>Online Job Portal has helped millions
                of Companies to find people that suites the job.
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-raised-button color="primary">Post Jobs</button>
    
            </mat-card-actions>
    
            </mat-card>
    </mat-grid-tile>
</mat-grid-list>
